h1 {
    text-align: center;
}

main {
    height: auto;
    max-width: 400px;
}

.sun {
    background-color: yellow;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
}

.house {
    position: absolute;
    bottom: 1%;
    left: 50%;
}

.square {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    margin: 0 auto;

}

.roof {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid red;
}

.door {
    background-color: aqua;
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
}