h1 {
    text-align: center;
}

main {
    height: auto;
    max-width: auto;
}

.sun {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    filter: blur(8px);
}

.sun:hover {
    background: radial-gradient(circle, yellow, rgb(243, 243, 134) 98%);

}

.house {
    position: absolute;
    bottom: 1%;
    left: 50%;
}

.houseBody {
    /*background-color: burlywood;*/
    background-image: repeating-linear-gradient(90deg, burlywood, rgba(165, 42, 42, 0.83) 2%, burlywood 4%);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    left: 25%;

}

.roof {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid red;
}

.door {
    background-image: repeating-linear-gradient(180deg, burlywood, rgba(165, 42, 42, 0.83) 2%, burlywood 4%);
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 45%;
}